{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">

    {% for project in projects %}
    
    <div class="card col-sm-12 col-md-6 mx-auto px-0 py-0">
        <div class="card-header px-0 py-0">
            <img src="{{project.image.url}}" alt="{{project.name}}" class="w-100">
        </div>
        <div class="card-body">
            <div class='row'>
                <p>{{project.description}}</p>
            </div>
            <div class="row">
                <p>Design {{project.design_rating}} | </p>
                <p>Usability {{project.usability_rating}} |</p>
                <p>Content {{project.content_rating}}</p>
            </div>
        </div>
    </div>

    {% endfor %}

    </div>
</div>
{% endblock %}